hero-section {
    background: linear-gradient(120deg, #667eea, #764ba2, #e91e63);
    background-size: 200% 200%;
    animation: gradientAnimation 15s ease infinite;
    color: white;
    padding: 4rem 2rem;
    text-align: center;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.hero-photo {

    background-image: 
        linear-gradient(to right, rgba(27, 41, 87, 0.7), rgba(24, 14, 36, 0.8)),
        url("https://images.unsplash.com/photo-1517842645767-c639042777db?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bm90ZSUyMHRha2luZ3xlbnwwfHwwfHx8MA%3D%3D");
    
    background-size: cover;          /* Ensures the image covers the whole container */
    background-position: center;     /* Centers the image within the container */
    background-repeat: no-repeat;    /* Prevents the image from tiling */

}